* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.home-nav,
.formWrapper,
.leaderboard-player,
.login-form,
.question-data-wrapper {
	max-width: 50%;
	margin: 1rem auto;
}

.question-title {
	background-color: rgb(253, 247, 253);
	padding: 1rem;
	font-size: 18px;
}

.question-avatar,
.leaderboard-avatar {
	/* border: 2px solid brown; */
	border-right: 1px solid rgb(195, 195, 195);
}

.trophy-wrapper {
	border-left: 5px solid rgb(194, 193, 193);
	border-right: 5px solid transparent;
	border-bottom: 50px solid transparent;
	border-width: 50px;
}

.player-trophy {
	position: absolute;
	left: 8px;
	top: 3px;
	color: rgb(248, 211, 0);
}

/** Start Loader Animtaion */
.loader {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	transform: rotate(165deg);
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.25em;
	transform: translate(-50%, -50%);
}
.loader:before {
	animation: before 2s infinite;
}
.loader:after {
	animation: after 2s infinite;
}

@keyframes before {
	0% {
		width: 0.5em;
		box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
			-1em 0.5em rgba(111, 202, 220, 0.75);
	}
	35% {
		width: 2.5em;
		box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
			0 0.5em rgba(111, 202, 220, 0.75);
	}
	70% {
		width: 0.5em;
		box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
			1em 0.5em rgba(111, 202, 220, 0.75);
	}
	100% {
		box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
			-1em 0.5em rgba(111, 202, 220, 0.75);
	}
}
@keyframes after {
	0% {
		height: 0.5em;
		box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
			-0.5em -1em rgba(233, 169, 32, 0.75);
	}
	35% {
		height: 2.5em;
		box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
			-0.5em 0 rgba(233, 169, 32, 0.75);
	}
	70% {
		height: 0.5em;
		box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
			-0.5em 1em rgba(233, 169, 32, 0.75);
	}
	100% {
		box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
			-0.5em -1em rgba(233, 169, 32, 0.75);
	}
}
/**
   * Attempt to center the whole thing!
   */
html,
body {
	height: 100%;
}

.loader {
	position: absolute;
	top: calc(50% - 1.25em);
	left: calc(50% - 1.25em);
}
/** End Loader Animtaion */

/** Start Percentage bar */
#myProgress {
	width: 100%;
	background-color: grey;
	text-align: center;
}

#myBar {
	height: 30px;
	background-color: rgb(50, 255, 50);
}
/** End Percentage bar */
